@import '../../styles/variables.scss';  


.results{
    background-color: #FFF;
    width: 1200px;
    margin: 0px auto;
    padding: 0px 16px;
    box-sizing: border-box;   
    
    ul{
        list-style: none;

        li{
            border-bottom: 1px solid $backgroundBodyColor;

            &:last-child{
                border-bottom: none
            }
        }
    }
}



.breadCrum{  
    width: 1200px;
    padding: 16px;
    margin: 0px auto;
}
