@import '../../styles/variables.scss';  


.results{
    background-color: #FFF;
    width: $primarySectionWidth;
    margin: 0px auto;
    padding: 0px 16px;
    box-sizing: border-box;   
    
    ul{
        list-style: none;

        li{
            border-bottom: 1px solid $bodyBackgroundColor;

            &:last-child{
                border-bottom: none
            }
        }
    }
}

.breadCrumb{  
    width: $primarySectionWidth;
    padding: 16px;
    margin: 0px auto;
    color: $textColoredGray;
    font-size: 16px;

    ul{
        display: flex;
        list-style: none;

        li:last-child .breadCrumb_sign{
            display: none
        }
    }

    &_sign{
        margin: 0px 10px;

        
    }

    &_category:hover{
        cursor: pointer;
        text-decoration: underline;
    }

}
