.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  color: #a02020;
  background-color: rgb(248, 152, 152);
  width: 50%;
  margin: 0px auto;
  margin-top: 10px;
  font-size: 20px
}