@import '../../styles/variables.scss';


.item_details_results{
    background-color: #FFF;
    width: $primarySectionWidth;
    margin: 0px auto;
    padding: 32px;
    box-sizing: border-box;   
}

.item_info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .item_img_container{
        width: 70%;
        box-sizing: border-box;
    }

    &_picture{
        width: 680px;
        margin: 0px auto;
    }

    &_data{
        width: 30%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
}

.item_sales{
    font-size: 16px;
}

.item_title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 14px;
}

.item_price{
    margin: 32px 0px;
    font-size: 46px;

}

.item_description{
    width: 70%;
    word-break: break-word;

    &_title{
        font-size: 28px;
        font-weight: bold;
    }

    &_details{
        word-break: break-word;
        margin-top: 32px;
        color:#999999;
    }
}

.item_buy_button{
    background-color: $buttonBackgroundColor;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 18px;
}