@import '../../styles/variables.scss';

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $backgroundBodyColor;
    box-sizing: border-box;

    &-details{
        display: flex;

        img{
            padding: 16px 16px 16px 0px;
        }
    }

    &-description{
        display: flex;
        flex-direction: column;

        &-price{
            padding-top: 30px;
            display: flex;
            align-items: center;
            font-size: 24px;
            margin-bottom: 32px;

            span{
                margin-right: 10px;
            }
        }

        &-text{
            font-size: 18px;
        }
    }

    &-location{
        flex:1;
        text-align: center;
        align-self: flex-start;
        margin-top: 50px;
        font-size: 12px;
    }
}