.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    &:hover{
        cursor: pointer;
        font-weight: bold;
    }

    &-details{
        display: flex;
        width: 1000px;

        &-shipping{
            padding: 16px 16px 16px 0px;
        }

        &-image{
            padding: 16px 16px 16px 0px;
            width: 180px;
            height: 180px;
            border-radius: 4px;
            overflow: hidden;
        }
    }

    &-description{
        display: flex;
        flex-direction: column;

        &-price{
            padding-top: 30px;
            display: flex;
            align-items: center;
            font-size: 24px;
            margin-bottom: 32px;

            span{
                margin-right: 10px;
            }
        }

        &-text{
            font-size: 18px;
        }
    }

    &-location{
        width: 300px;
        align-self: flex-start;
        margin:50px 80px;
        font-size: 12px;
        color: #999999;
    }
}

// .decimals{
//     font-size: 12px;
//     position: relative;
//     top: -6px;
//     left: -4px;
// }