@import './styles/variables.scss';  

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $bodyBackgroundColor;
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif;
}